.account-table th:nth-child(2),
.account-table td:nth-child(2) {
  width: 120px;
}

.account-table th:nth-child(3),
.account-table td:nth-child(3) {
  width: 240px;
}

.account-table th:nth-child(4),
.account-table td:nth-child(4) {
  width: 220px;
}

.account-table th:nth-child(5),
.account-table th:nth-child(6),
.account-table td:nth-child(5),
.account-table td:nth-child(6) {
  width: 110px;
  white-space: normal;
  line-height: 1.4;
  text-align: left;
}
